@import "../variables";

.App {
  height: 100vh;
  @include flex-column;

  background: linear-gradient(to bottom, #A7C5ED, #E3ECF9 70%, #97D2AC);
  padding: $padding-l;

  font: $app-font;
  color: $fg-color;
}

.App-buttons {
  @include flex-row;
  margin-top: $padding-l;
}