@import "../variables";

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #efefef;

  padding: $padding-m;
}

.App-generatorForm {
  margin-top: $padding-m;
}

.App-generateButton {
  margin-top: $padding-m;
}