.App {
  position: relative;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #efefef;
  background-color: #000033;
  color: #e6e6ff; }

.App-buttonGeneretor {
  margin-top: 32px; }

.App-form {
  margin-top: 32px; }

.Message-list {
  list-style-type: none;
  font-size: 22px;
  font-family: fantasy;
  font-weight: bold; }

.Message {
  margin-left: 40%; }

.span {
  color: #6666ff; }
