
.App {
  position: relative;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #efefef;
  background-color: #000033;
  color: #e6e6ff;
}
.Button-area{
  display: inline-block;
}

.App-buttonGeneretor {
  margin-top: 32px;
  width: 50%;
}

.App-form {
  margin-top: 32px;
}

.Message{
  padding: 10px;
  margin-left: 30%;
  width: 100%
}
.Message-list{
  list-style-type: none;
  font-size: 22px;
  font-family:Verdana;
}
.span{
  color:  #4d4dff

}
