@import "../variables";

.Button {
  background-color: #1a53ff;
  border: none;
  padding: $padding-xs;
  font-size: 18px;
  color: #e6ecff;
  border-radius: 5px;
  margin-left: $padding-xs;
}

.Button:hover {
  background-color: #e6ecff;
  color: #1a53ff;
}

.Button:active {
  outline: none;
  background-color: #ff00bf;
  color:$secondry-color
}
