.Button {
  border: none;
  margin: 0;
  padding: 16px 24px;
  min-width: 260px;
  text-align: center;
  line-height: 1em;
  background: #1A6FD1;
  color: white;
  border-radius: 4px; }

.Button-label {
  display: block;
  margin-bottom: -0.2em; }
